@import "mixins";
@import "variables";

@include font-face();
[data-theme="dark"] {
  --background-color: #{$dark};
  --text-color: #{$light};
}

[data-theme="light"] {
  --background-color: #{$light};
  --text-color: #{$dark};
}

body {
  font-family: "Source Sans Pro", serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
